---
layout: default
---

{% block content %}
    <br>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">Ukaž, co umíš &ndash; na sobotním hackatonu</h1>

                <br>

                <p>
                    Máte doma nějaký kus kódu, co chcete vydat jako open source a chyběla vám chvilka nebo pomoc z venčí? Ideální příležitost jak věc dotáhnout a vydat, a třeba i <strong>vyhrát nějakou hodnotnou cenu</strong>.
                    <br>
                    Chcete si jen v sobotu zaprogramovat a zlepšit si své dovednosti? Přijdte pomoci realizovat nápady ostatních, nebo navrhněte nějaký svůj nápad.
                </p>
                <p>
                    <strong>O občerstvení bude postaráno</strong>, stějně tak jako o zajímavé ceny pro vítěze.
                </p>
            </div>

        </div>

        <h2>Seznam témat</h2>

        <br>

        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a href="http://skrz.cz" class="pull-right">skrz.cz</a>
                        <h3>Hackathon barvy</h3>
                    </div>
                    <div class="panel-body">
                        <p>
                            Rádi bychom rozšířili vyhledávač slev Skrz.cz v secích, kde to pro uživatele dává smysl, o filtraci produktů dle barev. Provádět klasifikaci produktů a nabídek dle barev ručně je s ohledem na obrovské množství nabídek a jejich rychlé změny nereálné, stejně tak není cestou požadovat od inzerentů, aby informaci o bravě posíali v XML feedu s nabídkami. Cílem je tedy navrhnout algoritmus, který bude zasladné produkty sám klasifikovat podle barev na základě strojové analýzy obrázků dodaných k produktům.
                        </p>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a class="pull-right" href="http://paralelnipolis.cz">Paralelní Polis</a>
                        <h3>Online prodej lístků za BTC</h3>
                    </div>
                    <div class="panel-body">
                        Neexistuje služba, která umí prodávat lístky na akce za BTC (podobně jako např. Eventbrite). Projekt lze pojmout třeba jako stand-alone aplikaci do composeru nebo jako knihovnu do existujícího systému, jako třeba https://www.attendize.com/
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a class="pull-right" href="http://paralelnipolis.cz">Paralelní Polis</a>
                        <h3>Anonymní schránky</h3>
                    </div>
                    <div class="panel-body">
                        Zatím nelze přijmout zásilku od České pošty anonymně. Proč? A jde to fixnout, aby to šlo?
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a class="pull-right" href="http://paralelnipolis.cz">Paralelní Polis</a>
                        <h3>Věrnostní program</h3>
                    </div>
                    <div class="panel-body">
                        V Paralelní Polis máme věrnostní karty, které ale nemají elektonický věrnostní program
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a class="pull-right" href="http://paralelnipolis.cz">Paralelní Polis</a>
                        <h3>Administrační správa karet k eletronickým zámkům</h3>
                    </div>
                    <div class="panel-body">
                        Zadání je jasné z názvu, mělo by komunikovat s https://github.com/ParalelniPolis/rfid-locks a s https://github.com/ParalelniPolis/TMS2
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a class="pull-right" href="http://paralelnipolis.cz">Paralelní Polis</a>
                        <h3>Bitcoin Sweeper</h3>
                    </div>
                    <div class="panel-body">
                        Krabička, která umí strhnout z bitcoin NFC karty zadefinovaný počet BTC. Tzn. načte privátní klíč, podepíše transakci a pošle do světa
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a class="pull-right" href="http://paralelnipolis.cz">Paralelní Polis</a>
                        <h3>Jukebox</h3>
                    </div>
                    <div class="panel-body">
                        Webový jukebox s možností zahrát písničku na přání s předbíháním pomocí bitcoinů
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a class="pull-right" href="http://honzacerny.com/">Honza Černý</a>
                        <h3>Simple delicous.com replacement</h3>
                    </div>
                    <div class="panel-body">
                        Po poslední aktualizaci delicious.com jsem se rozhodl od služby odejít.
                        Mám export bookmarks a potřebuji to někam dostat a následně si tam přidávat další odkazy. Na vlastní platforme. S připadnou možností nějaké distribuční sítě.
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h2>Přidej i svůj nápad</h2>
                <p>
                    Pošli pull request a hlavně doraž na páteční představení projektů!
                </p>
            </div>
        </div>
    </div>

{% endblock %}
