---
layout: default
---

{% block content %}

    <div class="headline row">
        <div class="container text-center">
            <div class="col-md-12">
                <h1>PHP Prague</h1>
                <p>
                    je nově vzniklá platforma, co si dala za cíl <br><strong>pořádat v Praze akce pro PHP vývojáře</strong>
                </p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>Naše akce <strong>odstartujeme v červnu konferencí a hackatonem</strong>.</p>

                <h2>O čem to bude</h2>

                <p>Tématicky se budeme točit <strong>kolem PHP</strong>. Zajímá tě rychlost PHP aplikací, jejich bezpečnost, užitečné knihovny nezávislé na frameworku, dodržování coding standards, refactoring v praxi nebo čistý kód?
                    <br>Tak to jsi tu správně.</p>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-12">
                <h2>Jaký bude program</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-7">
                <h3>Pátek 3. června</h3>

                <ul class="program-items">
                    <li><strong>16:00</strong> - Otevření prostor</li>
                    <li><strong>17:00</strong> - Uvítání</li>
                    <li><strong>17:10</strong> - <a href="https://twitter.com/klatys">Jan Klat</a> - Automate All The Things! <small>lightning talk</small></li>
                    <li><strong>17:25</strong> - <a href="https://twitter.com/ondrejmirtes">Ondřej Mirtes</a> - coding standard</li>
                    <li><strong>18:00</strong> - <a href="https://twitter.com/martinhujer">Martin Hujer</a> - framework-less code? <small>lightning talk</small></li>
                    <li><strong>18:15</strong> - <a href="https://twitter.com/marekgach">Marek Gach</a> - PSR-7</li>
                    <li><strong>19:00</strong> - <a href="https://twitter.com/TomasStrejcek">Tomáš Strejček</a> - Proč by sakra někdo měl chtít dělat eshop <small>lighting talk</small></li>
                    <li><strong>19:15</strong> - <a href="https://twitter.com/spazef0rze">Michal spaze Špaček</a> - PHP WTF</li>
                    <li><strong>19:40</strong> - <a href="https://twitter.com/tomasfejfar">Tomáš Fejfar</a> - PHPStorm</li>
                    <li><strong>20:00</strong> - Představení nápadů na hackathon</li>
                    <li><strong>20:30</strong> - Networking</li>
                </ul>

                <p>
                    Chceš poznat některého ze speakrů blíž?
                    <br><strong>Mrkni na <a href="speakers">medailonky speakrů</a></strong>.
                </p>
            </div>

            <div class="col-md-5">
                <h3>Sobota 4. června</h3>

                <ul class="program-items">
                    <li><strong>9:00</strong> - <strong>Začátek <a href="hackaton">HACKATONU</a></strong></li>
                    <li><strong>17:00</strong> - Prezentace projektů</li>
                    <li><strong>18:00</strong> - Vyhodnocení a vyhlášení vítězů</li>
                </ul>

            </div>

        </div>

        <hr>

        <div class="row">
            <div class="col-md-12 text-center">
                <a class="btn btn-success btn-lg btn-action" href="http://srazy.info/PHPPrague">
                    Zbývá <strong>už jen 15 míst</strong>
                    <br>
                    Registruj se včas!
                </a>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-12">
                <h2>Kde se potkáme</h2>
                <p>
                    V Holešovicích, v pověstném a tajemném <strong><a href="https://www.paralelnipolis.cz/">Paralelním Polis</a></strong>
                    <br>
                    Ještě jsi tu nebyl? <strong>Dojeď na <a href="https://www.google.cz/maps/place/Paraleln%C3%AD+Polis/@50.1033306,14.4500577,19.17z/data=!4m12!1m6!3m5!1s0x0:0xbcff5adc587168ac!2sFas+S.r.o.!8m2!3d50.1011271!4d14.4527846!3m4!1s0x0000000000000000:0xcad994427e27c9c0!8m2!3d50.1034015!4d14.4505513">Dělnickou</a></strong> a pak už jen pár kroků.
                </p>

                <img src="images/how-to-get-there.png" alt="Jak se tam dostat">
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-12 text-center">
                <h2>Naši partneři</h2>

                <h3 class="gold">Gold partners</h3>

                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <a href="http://lmc.eu">
                            <img src="images/partners/lmc.png">
                        </a>
                    </div>
                </div>

                <br>

                <h4 class="silver">Silver partners</h4>

                <div class="row text-center">
                    <div class="col-md-4 vcenter">
                        <a href="https://www.rockawaycapital.com/cs/">
                            <img src="images/partners/rockaway.png">
                        </a>
                    </div>
                    <div class="col-md-4 vcenter">
                        <a href="http://www.kurzor.net/">
                            <img height="70px" src="images/partners/kurzor.gif">
                        </a>
                    </div>
                </div>

                <br>

                <h4 class="bronze">Bronze partners</h4>

                <div class="row text-center">
                    <div class="col-md-3 vcenter">
                        <a href="https://www.jetbrains.com/phpstorm">
                            <img height="100px" src="images/partners/jetbrains.png">
                        </a>
                    </div>
                    <div class="col-md-3 vcenter">
                        <a href="https://www.skrz.cz">
                            <img src="images/partners/skrz.png">
                        </a>
                    </div>
                    <div class="col-md-3 vcenter">
                        <a href="https://rosti.cz/">
                            <img src="images/partners/rosti.png">
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-12 text-center">
                <h2>Kdo akci pořádá?</h2>

                <br>

                <div class="row logos">
                    <div class="col-md-2 vcenter">
                        <a href="https://www.paralelnipolis.cz/">
                            <img src="images/organizers/polis_logo.png" alt="Paralelní Polis">
                        </a>
                    </div>
                    <div class="col-md-2 vcenter">
                        <a href="https://www.posobota.cz/">
                            <img src="images/organizers/posledni_sobota.jpg" alt="Poslední sobota">
                        </a>
                        </a>
                    </div>
                    <div class="col-md-2 vcenter">
                        <a href="https://www.symfony.cz/">
                            <img src="images/organizers/symfony_komunita.png" alt="Symfony komunita">
                        </a>
                    </div>
                    <div class="col-md-2 vcenter">
                        <a href="https://www.vyvojarisobe.cz/">
                            <img src="images/organizers/vyvojari_sobe.png" alt="Vývojáři Sobě">
                        </a>
                    </div>
                </div>

                <br>
                <br>
                <br>

                <p>
                    <strong>Chceš vědět o našich dalších akcích?</strong>
                </p>

                <p>
                    Sleduj nás na <a href="http://twitter.com/phpprague">@phpprague</a>, na
                    <a href="https://www.facebook.com/PHP-Prague-1700342743549506/">Facebooku</a> nebo se <a href="http://eepurl.com/bZzDI9">přidej do mail listu</a>.
                    <br>
                    Budeme tě o všem informovat!
                </p>
            </div>
        </div>
    </div>

{% endblock %}
