---
layout: default
---

{% block content %}

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h1 class="text-center">Přednášející</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-md-offset-4">
            <h2 id="jan-klat">Jan Klat</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 col-md-offset-2">
            <img src="images/speakers/jan_klat.jpeg">
            <a href="https://twitter.com/klatys "><img src="images/twitter.svg"></a>
        </div>
        <div class="col-md-6">
            <p>Jenda vede partu vývojářů v pražském Skrz.cz a společně se svým teamem přispívá nejen k unikátnosti
                vlastní platformy. Baví ho posouvat hranice rychlosti a automaty, které ubírají uživatelům vrásky a
                zpříjemňují život. Zároveň se podílí na organizaci projektu DevCirkus, který si dal za úkol dávat
                dohromady špičkové lidi ze zajímavých internetových firem, kteří pak hledají společná témata, ve kterých
                by si mohli poradit.</p>
            <h3>Automate All The Things!</h3>
            <p>Vývojáři jsou líná stvoření, ale někteří nejsou líní dostatečně. Ukážeme si jak zjednodušit práci nejen
                sobě ale i ostatním a zůstat tak šťastnějším.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-md-offset-4">
            <h2 id="ondrej-mirtes">Ondřej Mirtes</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 col-md-offset-2">
            <img src="images/speakers/ondrej_mirtes.jpeg">
            <a href="https://twitter.com/OndrejMirtes"><img src="images/twitter.svg"></a>
        </div>
        <div class="col-md-6">
            <p>Webový vývojář, který se zajímá a rád používá technologie mimo tradiční LAMP stack, jako jsou RabbitMQ,
                Elasticsearch, React.PHP nebo třeba WebSockety. Miluje moderní postupy, automatické testy, Git a nedá
                dopustit na code review. Pro rozšíření svých obzorů vyvíjí i nativní mobilní aplikace pro iOS.</p>
            <h3>Coding standard</h3>
            <p>Každý tým by měl mít kvalitní infrastrukturu, která poskytuje a vyžaduje konzistentní výstup všech jeho
                členů. Coding standard je jedna z mnoha věcí, která drží projekt pohromadě. Z kusu kódu by nemělo být
                zřejmé, kdo ho napsal. Tým by měl mít společné konvence jak psát a formátovat kód. V přednášce budu
                mluvit o nástroji PHP_CodeSniffer, psaní vlastních pravidel (sniffů) a již hotových sniffech, které
                můžete použít. Možná se i dozvíte pár věcí o tom, jak funguje parsování zdrojového kódu v PHP.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-md-offset-4">
            <h2 id="martin-hujer">Martin Hujer</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 col-md-offset-2">
            <img src="images/speakers/martin_hujer.jpeg">
            <a href="https://twitter.com/MartinHujer"><img src="images/twitter.svg"></a>
        </div>
        <div class="col-md-6">
            <p>Martin používá Symfony ve kterém vyvíjí backend v Lavito.cz. Dříve používal Zend Framework, takže ho
                můžete znát třeba jako organizátora ZFMeetupu.</p>
            <h3>Framework-less code?</h3>
            <p>Přechod z aktuálně používaného frameworku na jiný potká dříve či později každého. Proto je důležité na
                něm záviset co nejvolněji. A je jedno, jestli píšeme aplikaci nebo knihovnu. V lightning talku ukážu,
                jak můžeme jít naproti tomu, aby případný přechod bolel co nejméně. Blýská se nám na lepší časy?</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-md-offset-4">
            <h2 id="tomas-strejcek">Tomáš Strejček</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 col-md-offset-2">
            <img src="images/speakers/tomas_strejcek.jpeg">
            <a href="https://twitter.com/TomasStrejcek"><img src="images/twitter.svg"></a>
        </div>
        <div class="col-md-6">
            <p>Tomáš z vlastní vývojářské firmy přestoupil na několik let do agentury, kde se zabýval FB aplikacemi a
                vývojem IS. Když mu agoška začala být malá nastoupil jako architekt do E-commerce Holdingu, kde
                integrací dvacítky velkých e-shopů do jednoho techologického celku dokazuje, že vývojářská práce na
                e-shopech nemusí být nuda.</p>
            <h3>Proč by sakra někdo měl chtít dělat eshop</h3>
            <p>Na přednášce se dozvíte, že vývoj e-shopu není jen o košíkách, ale může být velkou technologickou výzvou.
                Tomáš vás nechá nahlédnout pod pokličku jednoho z největších e-commercových řešení v ČR, na používanou
                kombinaci technologií a na jeho strasti i slasti.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-md-offset-4">
            <h2 id="michal-spacek">Michal Špaček</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 col-md-offset-2">
            <img src="images/speakers/michal_spacek.jpeg">
            <a href="https://twitter.com/spazef0rze"><img src="images/twitter.svg"></a>
        </div>
        <div class="col-md-6">
            <p>Vyvíjím webové aplikace, zajímá mě jejich bezpečnost. Nebojím se o tom
                mluvit veřejně, hledám hranice tak, že je posouvám. Chci naučit webové
                vývojáře stavět bezpečnější a výkonnější weby a aplikace.</p>
            <h3>PHP WTF</h3>
            <p>Říkáme tomu "WTF moment", vážně i nevážně míněné divnosti jazyka PHP. Určitě
                jste takové momenty už zažili. Pojďte se mnou projít obsah mého deníčku
                vedeného v souboru phpwtf.txt, do kterého si takové momenty zapisuji.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-md-offset-4">
            <h2 id="tomas-fejfar">Tomáš Fejfar</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 col-md-offset-2">
            <img src="images/speakers/tomas_fejfar.jpeg">
            <a href="https://twitter.com/tomasfejfar"><img src="images/twitter.svg"></a>
        </div>
        <div class="col-md-6">
            <p>Vývoji převážně v PHP se věnuji už 8 let. Na chvíli jsem si odskočil ke správě linuxových serverů pomocí
                Saltu. Dlouhodobě se snažím hledat efektivní způsoby práce s vývojářskými nástroji, ať se jedná o Git,
                PhpStorm nebo třeba SSH. Poslední dobou se snažím proniknout do JavaScriptu. </p>
            <h3>PHPStorm</h3>
            <p>Zkusím vám v omezeném prostoru 10 minut ukázat ty nejzajímavější věci, které PhpStorm umí, a přesvědčit
                vás, že dává smysl je používat. </p>
        </div>
    </div>

{% endblock %}
