---
layout: default
---

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <h2>Staňte se partnery!</h2>

            <p>
                Jste firma co vyvíjí v PHP?<br>
                Chcete podpořit pražskou PHP komunitu?<br>
                Oslovte 120 návštěvníků.<br>
                Vymyslete téma na hackathon a staňte se jeho mentorem.<br>

            </p>

            <p>Všech našich partnerů si vážíme, že nám chtějí pomoci uspořádat něco pěkného. Proto se jim budeme snažit nabídnout mediální prostor a snad se nám společně podaří najít i jiné benefity. V tuto chvíli jsme
                rozdělili
                partnerství na 3 základní typy, které jsou odlišeny finanční částkou, kterou budeme fakturovat, abychom měli finanční budget na zajištění akce.</p>

            <p>Bronze je kolonka pro firmy, které chtějí dát cenu do hackathonu, mentorovat během hackathonu, nebo nabídnout jinou nefinanční podporu. Pokud vás napadne něco, co nás nenapadlo, určitě se nám ozvěte a
                můžeme vymyslet
                něco přímo na míru vám.</p>

        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h3>Golden partner</h3>
            <ul>
                <li>Rollup na akci</li>
                <li>PR facebook</li>
                <li>PR tweet</li>
                <li>Logo v maillingu</li>
                <li>Logo na stránkách</li>
                <li>Logo ve video záznamu</li>
                <li>Rozhovor + medajlónek na stránkách</li>
            </ul>
            <br>
        </div>

        <div class="col-md-4">
            <h3>Silver partner</h3>
            <ul>
                <li>PR tweet</li>
                <li>Logo v maillingu</li>
                <li>Logo na stránkách</li>
                <li>Logo ve video záznamu</li>
                <li>Rozhovor + medajlónek na stránkách</li>
            </ul>
            <br>
        </div>

        <div class="col-md-4">
            <h3>Bronze partner</h3>
            <ul>
                <li>Logo na stránkách</li>
                <li>Logo ve video záznamu</li>
                <li>medajlónek na stránkách</li>
            </ul>
            <br>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-md-12 text-center">
            <h3>Koho ještě sháníme?</h3>

            <ul style="list-style-type: none">
                <li>1x Gliden partner - 20 000,-</li>
                <li>1x Silver partner - 10 000,-</li>
                <li>?x Bronze partner - 0,-</li>
            </ul>

            <a href="mailto:info@phpprague.cz" class="btn mt-4">Chceme se stát partnerem</a>
        </div>
    </div>

{% endblock %}
